<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Your Account</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>Welcome to our platform! To activate your account, please click the link below:</p>
    <a href="{{activationLink}}">Activate Account</a>
    <p>If you're unable to click the above link, please copy and paste the following URL into your browser:</p>
    <p>{{activationLink}}</p>
    <p>Thank you!</p>
</body>
</html>
